PORT=3006
MILVUS_ADDRESS=localhost:19530
OLLAMA_HOST=http://localhost:11434
EMBEDDING_MODEL=nomic-embed-text
COMPLETION_MODEL=mistral
VECTOR_DIMENSIONS=1536
COLLECTION_NAME=llama_brains
SOURCE_SECRET=some-shared-secret-with-chat-service_make-this-longish-and-random-for-security_and_paste_it_to_chat_service_env_file_too_in_place_of_MILVUS_SECRET
