PORT=3006
MILVUS_ADDRESS=localhost:19530
OLLAMA_HOST=http://localhost:11434
EMBEDDING_MODEL=nomic-embed-text
COMPLETION_MODEL=mistral
VECTOR_DIMENSIONS=1536
COLLECTION_NAME=llama_brains
SOURCE_SECRET=some-shared-secret-with-another-auxiliary-server-to-prevent-outside-access
