PORT=3006
OPENAI_API_KEY=
MILVUS_ADDRESS=localhost:19530
EMBEDDING_MODEL=text-embedding-3-small
VECTOR_DIMENSIONS=1536
COLLECTION_NAME=rag_documents
SOURCE_SECRET=some-shared-secret-with-chat-service_make-this-longish-and-random-for-security
